<!DOCTYPE html>
<html>
<head>
       <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>


<body>
<div id="graph"></div>


<script>
	
		var a= {{ vary|tojson|safe }};
		var b ={{ varx|tojson|safe }};
		var colors = [];
		for (var i=0 ;i<b.length;i++){
			if (a[i]<0){
				colors[i]='rgba(204,204,204,1)';
			}else{
				colors[i]='rgba(222,45,38,0.8)';
			}
		}

    var data= [{
        y: a,
        x: b,
        type:'bar',
        marker:{
    	color: colors
  	}}];




Plotly.plot('graph',data);
</script>


</body>
</html>