<!DOCTYPE html>
<html>
<head>
       <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>


<body>
<div id="graph1"></div>
<div id="graph2"></div>


<script>
	
		var a= {{ vary|tojson|safe }};
		var b ={{ varx|tojson|safe }};
		var colors = [];
		for (var i=0 ;i<b.length;i++){
			if (a[i]>=0){
				colors[i]='rgba(0,255,0,0.5)';
			}else{
				colors[i]='rgba(222,45,38,0.8)';
			}
		}

    var data1= [{
        y: a,
        x: b,
        type:'bar',
        marker:{
    	color: colors
  	}}];


        var c= {{ varz|tojson|safe }};
		var d ={{ varw|tojson|safe }};
		var colors = [];
		for (var i=0 ;i<b.length;i++){
			if (c[i]>=0){
				colors[i]='rgba(0,255,0,0.5)';
			}else{
				colors[i]='rgba(222,45,38,0.8)';
			}
		}

    var data2= [{
        y: c,
        x: d,
        type:'bar',
        marker:{
    	color: colors
  	}}];




Plotly.plot('graph1',data1);
Plotly.plot('graph2',data2);
</script>


</body>
</html>